html, body{
    margin: 0;
    font-family:"Roboto";
    position:relative;
}

#root{
    width:100vw;
    height:100vh;
    position:relative;
    overflow-x:none;
}

.show-navbar{
    width:10%;
    height:50px;
    background:rgb(155, 155, 155);
    position:absolute;
    top:0;
    border:none;
}

.show-days-navbar{
    left:0%;
}

.show-cities-navbar{
    left:90%;
}

.navbar{
    position:absolute;
    top:0;
    box-sizing:border-box;
    width:85%;
    height:100vh;
    padding:10px 15px;
    z-index:10;
    overflow-y: scroll;
    background:#FFFFFF
}

.cities-navbar{
    left:15%;
}

.days-navbar{
    left:0;
}

.navbar-close{
    padding:10px;
    font-size: 28px;
    font-weight:bold;
    background:transparent;
    outline: none;
    border: none;
}

.overlay{
    z-index:9;
    background:rgba(128, 128, 128, 0.300);
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    border:none;
}

.search-input-wrapper{
    padding:20px;
}

.search-input{
    width:100%;
    height:50px;
    font-size:24px;
    border:0;
    border-bottom:2px solid #1280E4;
    outline: 0;
}

.navbar-tile{
    box-sizing:border-box;
    width: 100%;
    height:70px;
    border: 3px solid #1280E4;
    border-radius:10px;
    color:#1280E4;
    font-size:24px;
    font-weight:bold;
    display:flex;
    align-items: center;
    padding:0px 10px;
}

.show-day-navbar{
    animation: showDaysNavbar 0.5s ease-in-out;
    left:0;
}

.hide-day-navbar{
    left:-85%;
    animation: hideDaysNavbar 0.5s ease-in-out;
}

.show-city-navbar{
    animation: showCityNavbar 0.5s ease-in-out;
    left:15%;
}

.hide-city-navbar{
    left:100%;
    animation: hideCityNavbar 0.5s ease-in-out;
}

.show-overlay{
    display:block;
}

.hide-overlay{
    display:none;
}

@keyframes showDaysNavbar {
    from{
        left:-85%;
    }
    to{
        left:0;
    }
}

@keyframes hideDaysNavbar {
    from{
        left:0;
    }
    to{
        left:-85%;
    }
}

@keyframes showCityNavbar {
    from{
        left:100%;
    }
    to{
        left:15%;
    }
}

@keyframes hideCityNavbar{
    from{
        left:15%;
    }
    to{
        left:100%;
    }
}

/*
.dashboard{
    float:left;
    width:calc(100% - 460px);
    height:100vh;
}

.card{
    box-sizing:border-box;
    height:320px;
    border:3px solid #1280E4;
    border-radius:10px;
    margin:10px;
}

.air-quality-card, .rainfall-card{
    width:50%;
}
*/