html, body, #root{
    margin: 0;
    font-family:"Roboto";
    position:relative;
    width:100vw;
    height:100vh;
    position:relative;
    overflow:none;
}

.show-navbar{
    box-sizing: border-box;
    width:10%;
    height:50px;
    background:#ffffff;
    position:absolute;
    top:0;
    z-index:5;
}

.show-navbar-image{
    width:100%;
    height:100%;
}

.show-days-navbar{
    left:0%;
    border:0;
    border-top:2px solid #1280E4;
    border-left:2px solid #FFFFFF;
    border-bottom: 2px solid #1280E4;
    border-right:2px solid #1280E4;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.show-cities-navbar{
    left:90%;
    border:0;
    border-top:2px solid #1280E4;
    border-left:2px solid #1280E4;
    border-bottom: 2px solid #1280E4;
    border-right:2px solid #FFFFFF;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.navbar{
    position:absolute;
    top:0;
    box-sizing:border-box;
    width:85%;
    height:100vh;
    padding:10px 15px;
    z-index:10;
    overflow-y: scroll;
    background:#FFFFFF
}

.cities-navbar{
    left:15%;
}

.days-navbar{
    left:0;
}

.navbar-close{
    padding:10px;
    font-size: 28px;
    font-weight:bold;
    background:transparent;
    outline: none;
    border: none;
}

.overlay{
    z-index:9;
    background:#5d5d5d86;
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    border:none;
}

.search-input-wrapper{
    padding:20px;
}

.search-input{
    width:100%;
    height:50px;
    font-size:24px;
    border:0;
    border-bottom:2px solid #1280E4;
    outline: 0;
}

.navbar-tile{
    box-sizing:border-box;
    width: 100%;
    height:70px;
    border: 3px solid #1280E4;
    border-radius:10px;
    color:#1280E4;
    font-size:24px;
    font-weight:bold;
    display:flex;
    align-items: center;
    padding:0px 10px;
    margin-bottom:10px;
}

.show-day-navbar{
    animation: showDaysNavbar 0.5s ease-in-out;
    left:0;
}

.hide-day-navbar{
    left:-85%;
    animation: hideDaysNavbar 0.5s ease-in-out;
}

.show-city-navbar{
    animation: showCityNavbar 0.5s ease-in-out;
    left:15%;
}

.hide-city-navbar{
    left:100%;
    animation: hideCityNavbar 0.5s ease-in-out;
}

.show-overlay{
    display:block;
}

.hide-overlay{
    display:none;
}

@keyframes showDaysNavbar {
    from{
        left:-85%;
    }
    to{
        left:0;
    }
}

@keyframes hideDaysNavbar {
    from{
        left:0;
    }
    to{
        left:-85%;
    }
}

@keyframes showCityNavbar {
    from{
        left:100%;
    }
    to{
        left:15%;
    }
}

@keyframes hideCityNavbar{
    from{
        left:15%;
    }
    to{
        left:100%;
    }
}

.dashboard{
    float:left;
    width:100vw;
    height:100vh;
    position:relative;
    overflow-x: none;
}

.header{
    width:calc(100% - 40px);
    height:40px;
    padding: 20px;
    font-weight:bold;
    font-size:24px;
} 

.card{
    box-sizing:border-box;
    height:320px;
    border:3px solid #1280E4;
    border-radius:10px;
    margin:10px;
}

.status{
    box-sizing: border-box;
    width:100%;
    height:25%;
    padding:5px 30px;
}

.status-header{
    box-sizing:border-box;
    height:50%;
    font-weight: bold;
    font-size:28px;
    color:#1280E4;
    display:flex;
    align-items: center;
}

.status-info{
    box-sizing:border-box;
    height:50%;
    color:gray;
    display:flex;
    align-items: center;
}

.air-quality-info{
    box-sizing:border-box;
    width:100%;
    height:50%;
    padding:20px 10px 0 10px;
    overflow-x: scroll;
    white-space:nowrap;
}

.air-quality-info-wrapper{
    box-sizing:border-box;
    display: inline-block;
    width:90px;
    height:110px;
    border:3px solid #1280E4;
    border-radius:10px;
    background:#98CEFF;
    color:#1280E4;
    margin:0 5px;
}

.air-quality-info-wrapper-value{
    height:60%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    font-size:28px;
}

.air-quality-info-wrapper-name{
    height:40%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
}

.weather-wind-info{
    box-sizing: border-box;
    width:100%;
    padding:0 10px;
    overflow-x: scroll;
    white-space:nowrap
}

.weather-wind-wrapper{
    width:90px;
    height:220px;
    border-right:2px solid #C4C4C4;
    display:inline-block;
}

.weather-wind-wrapper-image{
    width:80px;
    height:80px;
    margin:5px;
    background: #EFEFEF;
    display:block;
}

.weather-wind-wrapper-icon{
    width:40px;
    height:40px;
    margin:6px 20px;
    display:block;
}

.weather-wind-wrapper-info{
    width:100%;
    font-size:24px;
    text-align:center;
    color:#C4C4C4;
    margin:5px 0;
}

.weather-wind-wrapper-hour{
    width:100%;
    font-size:24px;
    color:#1280E4;
    font-weight:bold;
    text-align:center;
    margin:5px 0;
}

.sunrise-moonrise-wrapper{
    width:90%;
    height:100px;
    border-radius:10px;
    margin:10px 5%;
    background:#98CEFF;
}

.sunrise-moonrise-wrapper-header{
    color: #1280E4;
    height: 35px;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left:20px;
}

.sunrise-moonrise-wrapper-info{
    height:50%;
}

.sunrise-moonrise-wrapper-info-image{
    width:50px;
    height:50px;
    float:left;
    border:none;
    outline:none;
    margin:0 20px
}

.sunrise-moonrise-wrapper-info-hour{
    width:calc(100% - 140px);
    height:100%;
    float:right;
    display:flex;
    justify-content: center;
    align-items: center;
    color:#1280E4;
    font-weight: bold;
    font-size: 30px;
    margin-right:20px;
}

.events-panel{
    display: flex;
    flex-wrap:wrap;
    align-content: flex-start;
    box-sizing: border-box;
    height: 240px;
    padding:0 10px;
    gap: 10px;
}

.event-info{
    width:40px;
    height:40px;
    background: #E9E9E9;
    border-radius:10px;
}

.event-info-img{
    width:40px;
    height:40px;
}